<!doctype html>
<html>
  <head>
    <title>Hospital Database</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
