</head>
  <body>
  <div class="header">
      <h1>Hospital Database</h1>
    </div>
    <div class="menu">
      <a href="../">Home</a><br />
      <a href="../add_patient">Add a Patient</a><br />
      <a href="../patient_info">Find Patient Information</a><br />
      <a href="../add_doctor">Add a Doctor</a><br />
      <a href="../doctor_info">Find Doctor Information</a><br />
    </div>
    <div class="content">
